/* The animation code */
@keyframes slide-up {
  from {
    margin-top: 100%;
  }
  to {
    margin-top: 40px;
  }
}

.teamCard {
  display: inline-block;
  width: 46%;
  height: 175px;
  margin-top: 40px;
  margin-right: 25px;
  animation-name: slide-up;
  animation-duration: 0.6s;
}

.teamCardHeader {
  height: 60%;
}

.teamCardLogo {
  overflow: hidden;
  height: 100%;
  width: 19%;
  position: relative;
}

.teamCardTitle {
  color: white;
}

.teamCardLogoImage {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 51%;
  transform: translate(-70%, -50%);
  width: 70%;
}

.teamPageBanner {
  padding-left: 1%;
  display: block;
  overflow: auto;
}

.teamPageLogo {
  overflow: hidden;
  height: 100%;
  width: 14%;
  position: relative;
}

.teamPageLogoImage {
  margin: 0;
  width: 100%;
}
