.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.shadeWhite {
  background-color: #f6f8fa;
}

.shadeGray {
  background-color: #c3ccd3;
}

.lightNavy {
  background-color: #8ea6b2;
}

.mediumNavy {
  background-color: #47646f;
}

.darkNavy {
  background-color: #1e383c;
}

.pageHeader {
  margin-bottom: 50px;
}

/* Card to hold all of the page's content */
.pageCard {
  padding: 3% 3% 3% 3%;
}

.content {
  padding-top: 50px;
}

.headline-card-image {
  height: 375px;
}

.headline-card-body {
  height: 125px;
}

.headlines-panel-card {
  height: 100%;
}
